@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Open Sans', sans-serif;

}
p{
    font-family: 'Open Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
    font-size: 100%;
}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: black;
}
:root{
    --blue:#38b6ff;
    --green:#89c400;
}
.btn-a{
    padding: 0.6rem 1.2rem;
    background-color: white;
    border-radius: 4px;
}
h1{
    font-size: 6rem;
    text-transform: capitalize;
}
h3{
    font-size: 3rem;
    text-transform: capitalize;
}
/* NAVBAR */
#navbar{
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white
}
.navbar-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
h2{
    font-size: 2.4rem;
}
.navbar-left h3{
    font-size: 1.6rem;
}
.navbar-left img{
    width: 50px;
}


/* LANDING SECTION */
.landing-section{
    padding: 3rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    background-color: #0f011a;
    color: white;
}
.landing-section-left{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
}
.landing-section-left .navbar-left{
    display: flex;
    justify-content: left;
}
.landing-section-left h1{
    color: var(--blue);
}
.landing-section-left h1 span{
    color: var(--green);
}
.landing-section-left .btn-a img{
    width: 30px;
    height: 30px;
}
.landing-section-left .btn-a{
    background-color: var(--blue);
    color: white;
    width: 300px;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.landing-section-left p{
    font-size: 18px;
}
.landing-section-right img{
    width: 400px;
    border-radius: 50%;
}

/* QUALITY SECTION */
.quality-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 4rem 2rem;
    background-color: #0f011a;
    color: white;
}
.quality-card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 300px;
}
.quality-card img{
    width: 300px;
    height: 170px;
    object-fit: cover;
}
.quality-card p{
    font-size: 14px
}


/* ABOUT SECTION */
.about-us{
    /* margin: 2rem 0; */
    padding: 2rem 2rem;
    background: url("./images/abstract.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap ;
    gap: 3rem;
}
.about-us::before{
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.736);
}
.about-us-left{
    position: relative;
}
.about-us-left img{
    width: 400px;
}
.about-us-right{
    position: relative;
    color: white;
    max-width: 700px;
}


/* CONTACT SECTION */
.contact-section{
    padding: 4rem 2rem;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 1rem;
    background-color: black;
}
.contact-section>div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-section h2{
    color: var(--blue);
}
.contact-section p{
    color: white;
}
.input-field{
    outline: none;
    width: 350px;
    border: 2px solid var(--green);
    padding: 0.4rem 0.5rem;
}
textarea{
    height: 100px;
    resize: none;
}
.contact-section .btn-a{
    background-color: var(--green);
    color: white;
    display: inline-block;
    margin-top: 1rem;
}
.contact-section img{
    width: 300px;
}


/* FOOTER SECTION */
#footer{
    display: flex;
    justify-content: space-evenly;
    padding: 3rem 3rem;
    flex-wrap: wrap;
    color: white;
    gap: 2rem;
    background-color:black;
    /* margin-top: 3rem; */
}
.first-col img{
    width: 100px;
}
.second-col{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.second-col p{
    font-size: 10px;
}
.second-col .btn-a{
    display: inline-block;
    width: 120px;
}
.third-col{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.third-col a{
    color: white;
}


@media screen and (max-width:650px) {
    html{
        font-size: 70%;
    }
    .landing-section-right{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .landing-section-right img{
        width: 300px;
    }
    .quality-card{
        width: 250px;
    }
    .quality-card img{
        width: 250px;
        height: 100px;
    }
    .about-us-left{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .about-us-left img{
        width: 250px;
    }
}

@media screen and (max-width:450px) {
    html{
        font-size: 50%;
    }
    .navbar-left img{
        width: 30px;
    }
    .landing-section-left .btn-a{
        width: 100%;
        padding: 2rem 2rem;
        font-size: 24px;
        font-weight: bolder;
        margin-top: 2rem;
    }
    .landing-section-right img{
        width: 200px;
    }
    .quality-section{
        gap: 3rem;
    }
    .quality-card p{
        font-size: 8px;
    }
    .about-us-right p{
        max-width: 90%;
    }
    .contact-section img{
        width: 200px;
    }
    .input-field{
        width: 300px;
    }
    .second-col p{
        font-size: 8px;
    }
    .first-col img{
        width: 70px;
    }
}
